<div class="header">
    <div class="row logo-line right-16pt">
        <a class="row language">
            <img src=".\assets\Layer.svg" alt="">

            <span>
        עברית
      </span>

        </a>
        <a class="row auth">
            <span>
        כניסה\הרשמה
      </span>
            <img src=".\assets\user.svg" alt="">
        </a>
        <div class="row logo"> <span>
        LOGO
      </span>
        </div>
    </div>
    <div class="title right-60pt">
        <div>גלו את כל האירועים</div>
        <div> הקרובים אליכם</div>
    </div>

    <div class="background-img"></div>



</div>