<div class="search-nav right-16pt">
    <form [formGroup]="meetupForm" (ngSubmit)="onSubmit()" (change)="filterMeetups()" class="search-form" action=" ">
        <button class="search-btn input " type="submit" (click)="closeCalander()">
      <img src=" ../../assets/search.svg " alt=" ">
      חפש</button>
        <div>

            <label for="date "></label>
            <input class=" date input " type="text " id="date " placeholder="הזן תאריך " (click)="openCalander() " value="מתאריך {{startDate}} - עד תאריך {{endDate}} " />




        </div>

        <div>
            <select class="area input " (change)="changeCity($event) " formControlName="location">
            <option value="בחירת איזור" disabled >בחירת איזור</option>
            <option *ngFor="let city of City " [ngValue]="city ">{{city}}</option>
         </select>
        </div>

        <div>
            <label for="name "></label>
            <span *ngIf="name.invalid && (name.dirty || name.touched) " class="error text-danger ">ניתן להזין עד 100 תווים* </span>
            <input class="name input " type="text " id="name " formControlName="name" placeholder="שם אירוע " />


        </div>

    </form>
    <ngbd-datepicker-range [open]="calanderMode" (closeCalander)=" getDates($event) ">
    </ngbd-datepicker-range>
</div>
