<div class="search-nav right-16pt">
    <form class="search-form " action="">
        <button class="search-btn input" type="submit">
      <img src="../../assets/search.svg" alt="">
      חפש</button>
        <div class="date input row">
            <div class="" style="width: 40px;
            height: 33px;
            border: 1px solid var(--gray-stroke-text-fields);
            background: #F5F5F599 0% 0% no-repeat padding-box;
            border: 1px solid #BBBBCB;
            border-radius: 8px 0px 0px 8px;
            opacity: 1;">
                <img src="../../assets/calendar.svg" style="
            height: 80%;
            width: 100%;
            opacity: 1;
            margin: auto;">
            </div>
            <span>תאריך </span>


        </div>

        <div class="area input">
            <select name="area" id="area" style="-webkit-appearance: none;"></select>
            <img src=".\assets\arrow-down-fill.svg" alt="">
            <span>איזור </span>
        </div>
        <div class="name input">
            <span> שם אירוע</span>
        </div>

    </form>
</div>