<div>
    <app-header>
    </app-header>
    <app-search>
    </app-search>
    <app-meetup-list>
    </app-meetup-list>
    <div class="all">
        <a href="">10</a>
        <a href="">...</a>
        <a href="">5</a>
        <a href="">4</a>
        <a href="">3</a>
        <a href="">2</a>
        <a href="" style="width: 32px;
        height: 32px;
        background: var(--dark-blue) 0% 0% no-repeat padding-box;
        background: #0C3058 0% 0% no-repeat padding-box;
        border-radius: 8px;
        opacity: 1;"><span style="width: 6px;
height: 19px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/20px Rubik;
text-align: center;
font: normal normal normal 16px/20px Rubik;
letter-spacing: -0.01px;
color: #FFFFFF;
opacity: 1;">1</span> </a>
    </div>
</div>