<div class="item right-16pt">


    <div class="item-date right-16pt" style="width: 40% ;
    /*  */
    color: #0C3058;
    margin-top: 10px;
    opacity: 1;display: flex ;justify-content: space-around;">

        <span> 02.05.2019</span>
        <img src="../../../../assets/calendar.svg">
    </div>
    <div class="item-description right-24pt"> {{meetup.description}}</div>
    <div class="item-location right-16pt ">
        <span>  {{meetup.location}}</span>
        <img src="../../../../assets/🎨-Icon-Сolor.svg">
    </div>
    <div class="item-subcribers right-10pt ">
        <span style="letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--vivid-main-blue);
        text-align: right;
        letter-spacing: 0px;
        color: #0068F5;
        opacity: 1;">
        <img src="../../../../assets/🎨left.svg "> כל הנרשמים

        </span>
        <span> +3</span>
        <span class="subcribers-img "> </span>

    </div>