    .logo-line {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 50px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        /* background: var(--dark-blue); */
        opacity: 1;
    }

    .language {
        position: relative;
        top: 15px;
        left: 10%;
        width: 43px;
        height: 20px;
    }

    .auth {
        position: relative;
        top: 15px;
        left: 20%;
        width: 108px;
        height: 22px;
    }

    .logo {
        position: relative;
        top: 20%;
        left: 80%;
        width: 65px;
        height: 32px;
        opacity: 1;
    }

    .row {
        flex-wrap: nowrap;
        align-items: center;
        /* margin: auto; */
    }

    @media (max-width: 450px) {
        .auth {
            top: 36%;
            left: 40%;
            width: 108px;
            font-size: 12px;
            justify-content: center;
            align-items: center;
        }
        .language {
            top: 36%;
            left: 20%;
            font-size: 12px;
        }
        .logo {
            position: relative;
            top: 36%;
            left: 60%;
            width: 65px;
            height: 32px;
            opacity: 1;
            font-size: 18px;
        }
    }
